<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="style.css">

	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/customParseFormat.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<title>My Boolzapp</title>
</head>

<body>
	<div class="container-fluid p-3">
		<div id="root">
			<div class="container">
				<div class="row g-0 justify-content-center align-items-center">
					<!-- ~ CONTACTS LIST SECTION-->
					<div class="col-4">
						<section id="contacts-section">
							<header>
								<!-- TOP HEADER  -->
								<!-- Avatar Area -->
								<div id="top-header" class="d-flex justify-content-between align-items-center p-1">
									<div class="d-flex align-items-center">
										<img class="img-avatar m-2" :src="`img/avatar${user.avatar}.jpg`" alt="">
										<span>{{user.name}}</span>
									</div>
									<!-- Btn Icons -->
									<div class="icons-btn d-flex justify-content-evenly align-items-center grey-color">
										<i class="fas fa-circle-notch p-1"></i>
										<i class="fas fa-comment-alt p-1"></i>
										<i class="fas fa-ellipsis-v p-1"></i>
									</div>
								</div>
								<!-- BOTTOM HEADER -->
								<div id="bottom-header" class="d-flex justify-content-start align-items-center p-1">
									<div class="icons-btn d-flex justify-content-evenly align-items-center m-2">
										<i class="fas fa-bell-slash"></i>
									</div>
									<div>
										<span>Ricevi notifiche di nuovi messaggi</span> <br />
										<span class="underline small-text text-muted">Attiva notifiche dekstop</span>
									</div>
								</div>
							</header>
							<!-- SEARCH BAR -->
							<div id="search-bar-container" class="d-flex justify-content-start align-items-center">
								<button type="button" class="btn"><i class="fas fa-search"></i></button>
								<input id="search-bar" type="text" v-model="searchField" placeholder="Cerca o inizia una nuova chat">
							</div>
							<!-- MAIN-->
							<!-- Contacts List -->
							<div id="contacts-list" class="main">
								<ul class="list-unstyled">
									<li id="contact-item" v-for="(contact, index) in contacts" v-if="isIncluded(contact)"
										:class="[{active: active(index)}, {visible: contact.visible}]" @click="setCurrentIndex(index)"
										class="visible p-1">
										<!-- List Item Content -->
										<div class="row align-items-center">
											<div class="col-2"><img class="img-avatar m-2" :src="`img/avatar${contact.avatar}.jpg`" alt="">
											</div>
											<div class="col-10">
												<div>{{contact.name}}</div>
												<div class="small-text text-muted">{{contact.messages[contact.messages.length - 1].text.slice(0,
													30)+'...'}}
												</div>
												<div id="last-message-date" class="small-text text-muted">
													{{contact.messages[contact.messages.length - 1].date}}</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</section>
					</div>
					<!-- ~ CHAT SECTION -->
					<div class="col-8">
						<section id="chat-section">
							<!-- HEADER -->
							<!-- Avatar Area -->
							<header class="d-flex justify-content-between align-items-center p-1">
								<div class="d-flex align-items-center">
									<img class="img-avatar m-2" :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" alt="">
									<span>{{contacts[currentIndex].name}}</span>
								</div>
								<!-- Btn Icons -->
								<div class="icons-btn d-flex justify-content-evenly align-items-center grey-color">
									<i class="fas fa-search p-1"></i>
									<i class="fas fa-paperclip p-1"></i>
									<i class="fas fa-ellipsis-v p-1 me-3"></i>
								</div>
							</header>
							<!-- MAIN -->
							<div class="main position-relative">
								<!-- Messages Window -->
								<div id="messages-window">
									<div id="messages-container" class="d-flex flex-column">
										<div v-for="(message, index) in contacts[currentIndex].messages" class="message"
											:class="message.status">
											{{message.text}} <div class="text-muted small-text text-end">{{message.date}}</div>
											<i id="message-btn" role="button" class="fas fa-chevron-down"></i>
										</div>
									</div>
								</div>
							</div>
							<!-- Type New Message Area -->
							<div id="type-message-area" class="p-1 d-flex justify-content-evenly align-items-center">
								<i class="far fa-smile grey-color"></i>
								<input id="chat-input" type="text" v-model="newMessage" placeholder="Scrivi un messaggio"
									@keyup.enter="addMessage">
								<i class="fas fa-microphone grey-color"></i>
							</div>

						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="script.js"></script>
</body>

</html>