img {
	max-width: 100%;
}

.container-fluid {
	max-width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, rgb(0, 150, 136) 20vh, rgb(217, 219, 212) 20vh, rgb(217, 219, 212));
}

.col-8 {
	border-left: 1.5px solid blue;
}

.main {
	position: relative;
	overflow-y: scroll;
}

.img-avatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

/* ~ UTILITIES  */

.grey-color {
	color: grey;
}

/* ~ CONTACTS LIST SECTION */

/* < Top Header */

#top-header {
	height: 50px;
	padding-left: 5px;
	background-color: #eaeaea;
}

#top-header .icons-btn {
	font-size: 10px;
	cursor: pointer;
}
/* < Bottom Header */

#bottom-header {
	height: 50px;
	padding-left: 5px;
	background-color: #8edafc;
}

#bottom-header .icons-btn {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
	color: #8edafc;
}

/* < Search Bar */
#search-bar-container {
	height: 30px;
	background-color: white;
}

#search-bar-container button i {
	font-size: 15px;
	border: 0;
	color: grey;
}

#search-bar-container.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

#search-bar {
	height: 25px;
	width: calc(100% - 60px);
}

/* < Contacts-section _Main_ */

#contacts-section .main {
	background-color: white;
	height: calc(95vh - 130px);
}

#contacts-section li {
	background-color: white;
}

#contacts-section li:hover {
	background-color: #eaeaea;
	cursor: pointer;
}

/* ~ CHAT SECTION */

/* < Header */
#chat-section header {
	height: 50px;
	background-color: #eaeaea;
}
/* < Chat-section _Main_ */

#chat-section .main {
	background-image: url(img/mine.jpg);
	height: calc(95vh - 50px);
}
