img {
	max-width: 100%;
}

.container-fluid {
	max-width: 100vw;
	background: rgb(217, 219, 212);
	background: linear-gradient(0deg, rgb(217, 219, 212) 80%, rgb(0, 150, 136) 80%);
}

.col-8 {
	border-left: 1.5px solid blue;
}

.main {
	position: relative;
	overflow-y: scroll;
}

.img-avatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

#top-header .icons-btn,
#chat-section header .icons-btn {
	font-size: 10px;
	cursor: pointer;
}

/* ~ UTILITIES  */

.grey-color {
	color: grey;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

/* ~ CONTACTS LIST SECTION */

/* < Top Header */

#top-header {
	height: 50px;
	background-color: #eaeaea;
}

/* < Bottom Header */

#bottom-header {
	height: 50px;
	background-color: #8edafc;
	font-size: 12px;
}

#bottom-header .icons-btn {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
	color: #8edafc;
}

/* < Search Bar */
#search-bar-container {
	height: 30px;
	background-color: white;
}

#search-bar-container button i {
	font-size: 15px;
	border: 0;
	color: grey;
}

#search-bar-container.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0rem;
}

#search-bar {
	height: 25px;
	width: calc(100% - 60px);
}

/* < Contacts-section _Main_ */

#contacts-section .main {
	background-color: white;
	height: calc(95vh - 130px);
}

#contacts-section li {
	background-color: white;
}

#contacts-section li:hover {
	background-color: #eaeaea;
	cursor: pointer;
}

/* ~ CHAT SECTION */

/* < Header */
#chat-section header {
	height: 50px;
	background-color: #eaeaea;
}
/* < Chat-section _Main_ */

#chat-section .main {
	background-image: url(img/mine.jpg);
	height: calc(95vh - 50px);
}

/* < Messages Window */

#messages-window {
	padding: 30px 60px;
}

.message {
	display: inline-block;
	width: 40%;
	padding: 5px 10px;
	border-radius: 10px;
}

.message.received {
	background-color: rgb(213, 249, 186);
}

.message.sent {
	background-color: white;
}

/* < Write new message area */

#write-message-area {
	height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #eaeaea;
}

#write-message-area i {
	font-size: 20px;
}

#chat-input {
	width: 80%;
	height: 100%;
	border-radius: 5px;
	border: 0;
	padding: 5px;
}
